<div class="row justify-content-center">
    <div class="col-md-6 mt-5">
        <h1>{{page_title}}</h1>
        <p>Crea una nueva categoría para el blog</p>
    
        
        @if (status == 'success') {
            <div class="alert alert-success col col-md-5">
                Categoría creada con éxito, <a>lista de categorías</a>
            </div>
        }
        @if (status == 'error') {
            <div class="alert alert-danger col col-md-5">
                Error en la creación de categoría. Inténtalo de nuevo.
            </div>
        }
        
        <!-- Formulario de registro-->
        <form class="col-md-5 ml-0 pl-0" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
            <div class="form-group">
                <label for="nombreCategoriaInput">Nombre</label>
                <input id="nombreCategoriaInput" type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="category.name"
                    pattern="[a-zA-Z ]+" required>
                @if (!name.valid && name.touched) {
                    <small class="invalid-feedback d-block">
                        El nombre de la categoría no es válido
                    </small>
                }
            </div>

            <input type="submit" value="Guardar" class="btn btn-success" [disabled]="categoryForm.invalid">
        </form>
    </div>
</div>
