@if (!listaPosts) {
<div class="loading">
    Cargando...
</div>
}

@if (listaPosts) {
<div class="container-fluid mt-3">
    <h1>{{page_title}}</h1>
    <hr>
    <div class="card-columns">
        @for (post of listaPosts; track $index) {
        <article class="card w-100">
            <div class="card-header">
                <h3><a [routerLink]="['/entrada', post.id]">{{post.title}}</a></h3>
            </div>
            <div class="card-body">
                @if (post.image) {
                    <div class="post-image w-100">
                        <img src="{{url + 'post/image/' + post.image}}" class="w-100">
                    </div>
                }
                @else {
                    <div class="post-image w-100">
                        <img src="assets/images/default.jpg" class="w-100">
                    </div>
                }
                
                <div class="post-buttons d-flex justify-content-around">
                    <button class="btn" [routerLink]="['/entrada', post.id]">
                        <span class="material-symbols-outlined">menu_book</span>
                    </button>
                    @if (identity && post.user_id == identity.sub) {
                        <button class="btn">
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                        <button class="btn">
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    }
                </div>
                
            </div>
        </article>
        }
    </div>
</div>
}
