<div class="container-fluid profile-container">
    <div class="profile-data-container">
        <div class="row justify-content-center">
            <img src="{{url + 'user/avatar/' + user.image}}" alt="Foto de perfil" class="profile-image">
        </div>
        <div class="profile-info col justify-content-center">
            <h1>{{user.name}} {{user.surname}}</h1>
            <ul>
                <li><label>Rol: </label><strong>{{user.role}}</strong><br></li>
                <li><label>Email: </label><a href="mailto:{{user.email}}">{{user.email}}</a><br></li>
                <li><label>Biografía: </label><p class="user-bio" [innerHTML]="user.description"></p><br></li>
            </ul>
        </div>
    </div>

    @if (listaPosts) {
        <div class="container-fluid mt-3">
            <h1 class="text-center">Mis posts</h1>
            <hr>
            <post-list
                [listaPosts]="listaPosts"
                [identity]="user"
                [url]="url"></post-list>
        </div>
        }
</div>
